#logo {
  max-width: 80px;
  height: auto;
}

.cover {
  width: 200px;
}

.card-img-overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.card-holder {
  width: 224px;
  height: 480px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card-front {
  position: absolute;
  height: inherit;
  backface-visibility: hidden;
}

.card-bck {
  height: inherit;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: rotatY 0.5s ease;
}

.card-text {
  font-size: 0.9rem;
}

.card-wrapper:hover .card-holder {
  transform: rotateY(180deg);
}

.divider {
  width: 75%;
  border-radius: 5px;
  border: 2px solid rgb(49, 49, 49);
  margin: 2rem 0;
}

.btn-lg {
  font-size: 2rem;
}
